<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.superandroid">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- mob短信 需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.expressdelivery.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bayinongda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".activity.RegisteredByEmailActivity" />
        <activity android:name=".activity.AlbumActivity" />
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".activity.ShowAllPhoto" />
        <activity android:name=".activity.ImageFile" />
        <activity android:name=".view.GridImage" />
        <activity android:name=".activity.main.UniversityActivity" />
        <activity android:name=".activity.main.LibraryActivity" />
        <activity android:name=".activity.main.SchoolCalendarActivity" />
        <activity android:name=".activity.main.MapActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.publish.BeautyPublishActivity" />
        <activity android:name=".activity.publish.MovingPublishActivity" />
        <activity android:name=".activity.publish.MarketPublishActivity" />
        <activity android:name=".activity.ShowImageDetailsActivity"></activity>
    </application>

</manifest>